/* src/components/Login.css */

.login-container {
  display: flex;
  align-items: center; /* Vertically center */
  justify-content: center; /* Horizontally center */
  height: 100vh; /* Full height of the viewport */
  width: 100vw; /* Full width of the viewport */
  background-size: cover; /* Cover the entire container */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Prevent the image from repeating */
      position: relative; /* Ensure it covers the full screen */

    
}


.form-container {
  background: rgba(190, 190, 190, 0.9); /* Semi-transparent background */
  padding: 80px 60px; /* Increase padding for larger size */
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(34, 34, 34, 0.1); /* Subtle shadow */
  max-width: 800px; /* Increase the maximum width */
  width: 180%;
  min-height: 550px; /* Minimum height */
}

h2 {
  margin-bottom: 20px;
}

form div {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-top: 10px;
  margin-bottom: 5px;
}

input {
  margin-top: 10px;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  margin-top: 20px;
  background-color: #3a6592;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.social-login {
  margin-top: 20px;
  text-align: center;
}

.facebook-btn, .google-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 10px;
  color: white;
  border: none;
  padding: 15px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 18px;
}

.facebook-btn {
  background-color: #4267B2; /* Facebook blue */
}

.google-btn {
  background-color: #DB4437; /* Google red */
}

.facebook-btn:hover {
  background-color: #365899;
}

.google-btn:hover {
  background-color: #C53829;
}

.social-icon {
  margin-right: 8px;
  font-size: 20px; /* Adjust icon size */
}

.ss {
  text-align: center;
}
