.anime-card {
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.anime-card:hover {
  transform: scale(1.05);
}

.anime-image {
  width: 100%;
  height: auto;
}

.anime-details {
  padding: 10px;
}

.anime-title {
  font-size: 1.2em;
  margin: 0;
}
